ion-button{
    --ion-background-color:#111D12;
}

.background{
    --ion-background-color:#111D12;
}

ion-header{
        --ion-background-color:rgb(32, 170, 90);
}

ion-footer{
    --ion-background-color:rgb(32, 170, 90);
}