<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-buttons slot="start">
              <ion-back-button defaultHref="admin-home"></ion-back-button>
              </ion-buttons>
        </ion-buttons>
        <ion-button (click)="logOut()" slot="end">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
        <ion-title>
        Edit Training/Activties
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="background" no-scroll padding>
</ion-content>
    

<ion-footer>
    <ion-toolbar>
      <ion-buttons start="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
