.background{
    --ion-background-color:#111D12;
}

ion-button{
    --ion-background-color:#111D12;
}


ion-header{
        --ion-background-color:rgb(32, 170, 90);
}

ion-footer{
  --ion-background-color:rgb(32, 170, 90);
}
/*---------------------------*/
/* Read Users */
/*---------------------------*/

.acc {
  font-family:Arial, Helvetica, sans-serif; 
  margin:0 auto;
  font-size:14px;
  width:auto;
  padding:10px;
  background:#111D12;
}
.acc ul {
  list-style:none;
  margin:0;
  padding:0;    
}
.acc li {
  margin:0;
  padding:0;
}
.acc [type=radio], .acc [type=checkbox] {
  display:none;
}
.acc label {
  display:block;
  font-size:16px;
  line-height:16px;
  background:rgb(32, 170, 90);
  text-shadow:1px 1px 1px rgba(255,255,255,0.3);
  font-weight:700;
  cursor:pointer;
  text-transform:uppercase;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
}
.acc ul li label:hover, .acc [type=radio]:checked ~ label, .acc [type=checkbox]:checked ~ label {
  background:rgb(97, 87, 89);
  color:#FFF;
  text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.acc .content {
  padding:0 5px;
  overflow:hidden;
  border:1px solid #111D12; /* Make the border match the background so it fades in nicely */
  background: #fff;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
}
.acc p {
  color:#333;
  margin:0 0 10px;
}
// .accordion h3 {
//   color:#333;
//   padding:0;
//   margin:10px 0;
// }


/* Vertical */
.ver ul li {
  overflow:hidden;
  margin:0 0 1px;
}
.ver ul li label {
  padding:10px;
}
.ver [type=radio]:checked ~ label, .ver [type=checkbox]:checked ~ label {
  border-bottom:0;
}

.ver ul li .content {
  height:0px;
  border-top:0;
}
.ver [type=radio]:checked ~ label ~ .content, .ver [type=checkbox]:checked ~ label ~ .content {
  height:360px;
  border:1px solid #111D12;
}

.edit-user-module {
  display: none;
  position: absolute;
  background-color: #e1e1e1;
  border: 1px solid #999;
  top: 149px;
  left: 160px;
  padding: 10px;
  width: auto;
}

.edit-user-module .open-edit-user-form-btn {
    background: #2e2d33;
    font-size: 1.5em;
    color: white;
    padding-bottom: 5px;
}

.user-list li:hover~.edit-user-module {
  display: none;
}

.edit-user-module form button {
  background: #54bb7d;
  font-size: 1em;
  padding: 0px 10px;
  color: white;
  margin-top: 10px;
}
  